@import "reset";

$toolbarHeight: 40px;
$editorWidth: 30%;
$accordionTitleHeight: 30px;
$errorColor: #ff0035;
$inspectorColor: #e8d300;

body {
  overflow: hidden;
  position: relative;
  font-family: Helvetica;

  width: 100%;
  height: 100%;
}

.toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 100% - $editorWidth;
  height: $toolbarHeight - 1px;
  background-color: #000;
  color: white;
  overflow: hidden;
  line-height: $toolbarHeight;
  border-bottom: 1px solid #4f4f4f;
}

.toolbar {
  .button {
    font-size: 80%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #4f4f4f;
    cursor: pointer;
  }

  .logo {
    padding-left: 1em;
    left: 5%;
    right: 50%;
  }

  .run {
    left: 50%;
    right: 20%;
  }

  .inspect {
    left: 80%;
    right: 10%;
  }

  .settings {
    left: 90%;
    right: 0%;
  }
}

.renderContainer {
  position: absolute;
  top: 0px;
  left: $editorWidth;
  right: 0px;
  bottom: 0px;
}

.editorContainer {
  position: absolute;
  left: 0px;
  right: 100% - $editorWidth;
  top: $toolbarHeight;
  bottom: 0px;
  background-color: #000;
  line-height: $accordionTitleHeight;
  font-weight: bold;
  font-size: 70%;
  color: white;
}

.accordion {
  li {
    position: relative;
    width: 100%;
    height: $accordionTitleHeight;
    overflow: hidden;
    border-bottom: 1px solid #4f4f4f;
  }

  .shader_rt_error {
    background-color: $errorColor;
  }
}

.box {
  position: absolute;
  width: $editorWidth;
  left: $editorWidth;
  top: 88px;
  display: none;

  :after, :before {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
  }

  :after {
    border-width: $accordionTitleHeight / 2 - 8;
    border-right-color: $errorColor;
    top: $accordionTitleHeight / 2;
  }

  :before {
    border-width: $accordionTitleHeight / 2;
    border-right-color: $errorColor;
    top: $accordionTitleHeight / 2;
  }

  .text {
    background-color: $errorColor;
    color: white;
    font-weight: bold;
    font-size: 90%;
    padding: 2em;
  }
}

#rt_errorbox {
  z-index: -1;

  :after {
    border-right-color: $errorColor;
  }

  :before {
    border-right-color: $errorColor;
  }

  .text {
    background-color: $errorColor;
  }
}
#rt_inspector {

  :after {
    border-right-color: $inspectorColor;
  }

  :before {
    border-right-color: $inspectorColor;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
  }
  .text {
    background-color: $inspectorColor;
    color: black;
    font-weight: normal;
    max-height: 50%;
    overflow-y: auto;
  }
  select {
    width: 100%;
    margin-bottom: 1em;
  }
  tr {
    line-height: 1.25em;
  }
  .name {
    font-weight: bold;
    padding-right: 1em;
  }
  .comp {
    width: 4em;
    display: inline-block;
  }
}

#useGeometryShader, #usePixelShader {
  position: absolute;
  top: 5px;
  right: 4px;
}

.editorContainer{
  small {
    padding-left: 1em;
  }

  .editor {
    position: absolute;
    top: $accordionTitleHeight;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.error {
  position: absolute;
  background-color: rgba(255, 10, 22, 0.2);

  z-index: 40;
}

#arrangementContainer {
  position: absolute;
  top: $toolbarHeight;
  bottom: 75%;
}
.arrangement {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 0px;
  bottom: 0px;

  z-index: 40;
}
.cylinder {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  overflow: hidden;
  margin: 5px;
}

#geometryShaderContainer {
  position: absolute;
  top: 25%;
  bottom: 50%;
  border-top: 1px solid #4f4f4f;
}

#colorShaderContainer {
  position: absolute;
  top: 50%;
  bottom: 0%;
}
